* {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    background-color: darkred;
    width: 100%;
    line-height: 100px;
}

#title {
    color: white;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

#main_image {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
}

p {
    margin-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

